body {
     background-color: rgba(230, 230, 230, 0.87);
}
.nav-link:hover {
    transform: translate3d(0, -3px, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.5s;   
}
.navbar-nav {
    flex-shrink: 0;
}

.dropdown-item:hover {
    background-color: #0000003f;
    font-weight: bold;
}
.vr {
    border-left: 2px solid #0000003f;
    height: 30px;
    margin: 0 10px;
    align-self: center;
 }
  @media screen and (max-width: 991px) {
    .vr {
        display: none;
    }
  }
.fade-in {
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(50px); }
    to { opacity: 1; transform: translateY(0);}
} 
.fade-up {
    opacity: 0;
    transform: scale(50px);
    transition: all 1.5s ease;
}
.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}
.card-style {
    background-color: rgba(105, 104, 104, 0.123) ;
    border: none;
    box-shadow: 25px 25px 25px 50px #0000003f;
    height: 100%;
    width: 100%;
}
.card-style:hover {
    background-color: rgba(240, 238, 238, 0.918);
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.8s;
}

.card-7 {
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    box-shadow: none;
    
}   
.img-7 {
    height: 380px;
    width: 340px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}
.con-7 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
}
.con-7::-webkit-scrollbar {
    display: block;

}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 5;
    grid-row-start: 2;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
    grid-row-start: 1;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
    grid-row-start: 5;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 3;
}
